

.image-page{
	margin-top:30px;
	margin-bottom:5px;
	margin-right:-20px;
	padding:0px;
}

.main-height{
	min-height:600px;

}

.page-header-add{
	margin-top:-20px;
}		



.read-more {
    text-transform: uppercase;
    font-size: 15px;
  }


.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 20px;
  }
}


h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}


h4 {
  font-size: 18px;
  color: $gray;
}

a {
  color: rgb(244,49,19);
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: grey;
  }

a.contenttitle{
	color: black;
}  
.date {
  font-style: italic;
  color: gray;
}
